.quiz__container {
  width: 90%;
  margin: 0 auto;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
}

.question {
  flex-grow: 1;
}

.answers {
  flex-grow: 0.5;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}