:root {
  --bg-default: rgb(53,191,187);
  --bg-gradient: linear-gradient(180deg, rgba(53,191,187,1) 0%, rgba(191,249,240,1) 100%);
  --dark-primary: #1F6462;
  --dark-text-shadow: #2F8E8B;
  --input-fill: #BFFBF9;
}

body {
  display:flex;
  flex-direction:column; 
  justify-content:center;
  min-height:100vh;
  font-size: 20px;
  background: var(--bg-default);
  background: var(--bg-gradient);
  color: var(--dark-primary);
}

.container {
  width: 90%;
  height: 80vh;
  max-width: 360px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
  flex-wrap: wrap;
}

