body {
  display:flex;
  flex-direction:column; 
  justify-content:center;
  min-height:100vh;
  font-size: 20px;
  background: steelblue;
  transition: background 1s;
}

.container {
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  flex-wrap: wrap;
}

.top {
  width: 100%;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  font-size: 1.5em;
}

.info {
  color: #eee;
  width: 20%;
  padding: 2% 0;
  text-align: left;
  font-weight: 500;
  transition: all 0.5s;
}

.correct {
  background: #070;
}

.incorrect {
  background: #700;
}

.counter {
  padding: 2% 0;
  text-align: right;
  font-weight: 500;
  color: #eee;
}

.question {
  background: #7bdaff;
  border-radius: 5px;
  padding: 1.5em;
  width: 100%;
  margin-bottom: 2%;
  font-size: 1.5rem;
}

.answer {
  background: #bfca81;
  height: 20%;
  border-radius: 5px;
  padding: 5%;
  width: 39%;
  margin-bottom: 2%;
  transition: background 0.5s;
  cursor: pointer;
}

.answer:hover {
  color: #000;
  background: #f1ffa4;
  transform: scale(1.02);
}

.answer-incorrect {
  background: #800;
  color: white;
}

.answer-correct {
  background: #080;
  color: white;
}

@media (max-width: 600px) {
  body {
    font-size: 16px;
  }

  .container {
    flex-direction: column;
  }

  .question {
    width: 90%;
    padding: 5%;
  }

  .answer {
    width: 90%;
    padding: 5%;
    overflow: hidden;
  }
}

.score {
  font-size: 3em;
  color: white;
}

h2 {
  color: rgb(41, 61, 78);
}

.category-chooser {
  flex-grow: 0.7;
  appearance: none;
  text-indent: 5%;
  padding: 10px;
  font-size: 1.5em;
  border-radius: 10px;
  background:  #7bdaff;
  box-shadow: 0px 0px 10px rgb(17, 63, 100);
  transition: background 0.5s;
}

.category-chooser:after{
  width: 0; 
  height: 0; 
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid #f00;
  position: absolute;
  top: 40%;
  right: 5px;
  content: "";
  z-index: 98;
}

.category-chooser:hover {
  background:  #bdecff;
  box-shadow: 0px 0px 20px rgb(17, 63, 100);
}

.category-chooser:focus {
  outline: none;
}